[submodule "system/system"]
	path = system/system
	url = git@github.com:sharad/system.git
[submodule "packages/misc/browser/conkeror"]
	path = packages/misc/browser/conkeror
	url = git://repo.or.cz/conkeror.git
[submodule "packages/common-lisp/source/sharad/in.net.sharad.utils"]
	path = packages/common-lisp/source/sharad/in.net.sharad.utils
	url = git@bitbucket.org:sh4r4d/in.net.sharad.utils
[submodule "packages/common-lisp/source/sharad/pa"]
	path = packages/common-lisp/source/sharad/pa
	url = git@bitbucket.org:sh4r4d/pa
[submodule "packages/common-lisp/source/sharad/stumpwm"]
	path = packages/common-lisp/source/sharad/stumpwm
	url = git@github.com:sharad/stumpwm.git
[submodule "packages/common-lisp/source/stumpwm-contrib"]
	path = packages/common-lisp/source/stumpwm-contrib
	url = git@github.com:sharad/stumpwm-contrib.git
[submodule "packages/common-lisp/source/stumpwm-packages/contrib-module/stumpwm-dbus"]
	path = packages/common-lisp/source/stumpwm-packages/contrib-module/stumpwm-dbus
	url = https://github.com/russell/stumpwm-dbus.git
